In [1]:
import pandas as pd 
import numpy as np
df=pd.read_csv("C:\\Users\\Lenovo\\Downloads\\auto-mpg.csv")

In [2]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [3]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [4]:
df.isin(['?']).sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [5]:
import numpy as np
df['horsepower']=df['horsepower'].replace('?',np.nan)

In [6]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='mean',missing_values=np.nan)
df['horsepower']=si.fit_transform(df[['horsepower']])

In [7]:
df.duplicated().sum()

0

In [8]:
df.corr()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
mpg,1.000000,-0.775396,-0.804203,-0.771437,-0.831741,0.420289,0.579267,0.563450
cylinders,-0.775396,1.000000,0.950721,0.838939,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.893646,0.932824,-0.543684,-0.370164,-0.609409
horsepower,-0.771437,0.838939,0.893646,1.000000,0.860574,-0.684259,-0.411651,-0.453669
weight,-0.831741,0.896017,0.932824,0.860574,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.684259,-0.417457,1.000000,0.288137,0.205873
model year,0.579267,-0.348746,-0.370164,-0.411651,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.453669,-0.581024,0.205873,0.180662,1.000000

In [9]:
X=df.drop(['car name','mpg'],axis=1)

In [10]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_tf=scaler.fit_transform(X)

In [11]:
y=df['mpg']

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X_tf,y,test_size=0.3)

In [13]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [14]:
lr.score(X_train,y_train)

0.8235264963850297

In [19]:
y_pred=lr.predict(X_test)
y_pred

array([19.4443583 , 22.98711826, 27.98693671, 21.82421482, 34.55477752,
       33.4707848 , 34.6415891 ,  8.40140356, 25.15937862, 18.19688105,
       32.71634123,  8.6454397 , 15.37074243, 26.55659648, 13.91410176,
       16.66020004, 12.69136903, 21.17023053, 30.93949535, 31.90267571,
       31.65449233, 21.720947  , 34.68740765, 23.67538259, 28.13978523,
       25.98029225, 27.5688271 , 35.27707873, 13.34667754, 29.62918422,
       28.56415673, 34.604802  , 26.99154902, 26.52917249, 14.55099684,
       28.18421145, 28.55365271, 19.2839022 , 20.48245935, 27.84567731,
       20.95065648, 16.1785439 , 22.46555105, 28.84193519, 30.80329381,
       28.89486967, 25.68238698, 24.63806183, 25.99069559, 26.36521964,
       30.57168918, 30.9937392 , 27.96902129, 13.80960944, 13.91066812,
       19.31474188, 25.68063517, 24.51592499, 20.07947909, 22.92818342,
       27.09936412, 23.22906085, 23.1667303 , 27.49028628, 29.35958594,
       23.93359568, 23.04242079, 33.27807303, 15.45647438, 10.38510352,
       25.63478346, 16.89363265, 30.71885072,  6.16725991, 16.70149367,
       28.1555136 , 22.27796437, 23.39003428, 30.28222682, 16.92801581,
       20.87055832, 24.91410162, 13.83894611, 14.87397132, 33.61397392,
       21.30516065, 31.42959784, 27.4657439 , 26.80791863, 19.32936167,
       30.69043516, 15.09335447, 25.51996749, 20.56073729, 36.19387429,
       25.19866607, 25.61062065, 27.45056928, 31.90152264, 27.27959627,
       22.49012795, 33.83488742, 19.7169722 , 15.14761613, 25.97292402,
       16.23194018, 17.29887124, 20.19504507, 10.33343911, 23.66071709,
       32.47862931, 20.03166229, 27.66469367, 24.87540374, 20.86670543,
       19.20260082, 20.94707733, 11.48870022, 23.39405029, 15.34852939])

In [20]:
from sklearn.metrics import mean_squared_error
print("Train Accuracy:", lr.score(X_train,y_train))
print("mse:", mean_squared_error(y_test,y_pred))

Train Accuracy: 0.8235264963850297
mse: 11.13844811081401